<div class="wrapper">
<% @posts.each do |post| %>
  
  <div class="post-box">

    <div class="post-header">
      <!-- <div class="prof-pic-container"> -->
        <a href="<%= user_path(post.user) %>" class="prof-pic-container">
          <%= image_tag post.user.photo, class: 'prof-pic-small img-circle' %>
        </a>
      <!-- </div> -->
      <div class="prof-name-container">
        <%= link_to post.user.name, user_path(post.user_id), class: "uname" %>
      </div>
      <a class="timestamp pull-right" href="#"><%= distance_of_time_in_words(DateTime.now, post.created_at) %></a> 
    </div>

    <%= image_tag post.photo, class: 'photo' %>
    
    <div class="post-body">
      
      <%= link_to post.user.name, user_path(post.user_id), class: "uname" %> <%= post.description %>

    </div>
    <!-- <hr> -->
    <div class="post-comments">

      <% post.comments.each do |comment| %>
        
        <p><%= link_to comment.user.name, user_path(comment.user_id), class: "uname" %> <%= comment.text %></ p>

      <% end %>


      <hr>

      
      <span id="likes-container-<%= post.id %>">
        <%= render partial: 'likes', locals: {post: post} %>
      </span>

      <% if user_signed_in? %>
        <%= simple_form_for Comment.new, url: post_comments_path(post), method: :post do |f| %>
          <%= f.input :text, label: 'Comment', placeholder: 'Add a comment...' %>
          <%= f.submit 'Post', class: 'btn btn-primary btn-block', remote: true %>
        <% end %>
      <% end %>
    </div>
  </div>

<% end %>
</div>