<h1>Welcome to index </h1>
<div class="container">
<% @posts.each do |post| %>
  <%= image_tag post.user.photo, style: "width:200px" %>
  <%= post.user.name %>
  <%= image_tag post.photo, style: "width:200px" %>
  <%= post.description %>
  <% if post.user == current_user %>
    <%= link_to 'Edit Post', edit_post_path(post) %>
  <% end %>
<% end %>
</div>