<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'instagram.ico' %>
  <title>Share Your Photos Online - Instapost</title>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div id="wrap">
    <%= render 'shared/nav' %>
    <div class = "container">
      <div class = "row">
        <div class = "col-xs-12 col-md-8 col-md-offset-2">
          <%= render 'shared/flash' %>
          <%= yield %>
        </div>
      </div>
    </div>  
  </div> <!-- #Wrap -->
    
  <%= render 'shared/footer' %>

</div>
<%#= console %>
</body>
</html>
